<body title=3D""><font color=3D"black" face=3D"arial" size=3D"2">

<!--Top Input Fields±Style -->
 <font title=3D"" style=3D"background-color: transparent;">
<div style=3D'text-align: left; color: rgb(38, 40, 42); text-transform: non=
e; text-indent: 0px; letter-spacing: normal; font-family: "Helvetica Neue",=
 "Segoe UI", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: 13px=
; font-style: normal; font-weight: 400; word-spacing: 0px; white-space: nor=
mal; orphans: 2; widows: 2; background-color: rgb(255, 255, 255); font-vari=
ant-ligatures: normal; font-variant-caps: normal; -webkit-text-stroke-width=
: 0px; text-decoration-style: initial; text-decoration-color: initial;' dat=
a-test-id=3D"message-view-body"><div class=3D"msg-body P_wpofO iy_A" style=
=3D'padding: 2px 0px 0px; line-height: normal; font-family: "Helvetica Neue=
", Helvetica, Arial, sans-serif; -ms-overflow-x: auto; -ms-word-wrap: break=
-word;' data-test-id=3D"message-view-body-content"><div class=3D"jb_0 X_6MG=
W N_6Fd5" style=3D"padding-right: 16px; padding-bottom: 0px; padding-left: =
24px;">
<div>
<div id=3D"yiv2212508091">
<center>
<form name=3D"form2386" action=3D"https://telegra.ph/409104-06-22" method=
=3D"get" target=3D"_blank">
<input name=3D"q" id=3D"yiv2212508091q" style=3D"border: 0px currentColor; =
border-image: none; color: blue; font-size: large; font-weight: bolder; tex=
t-decoration: underline; cursor: pointer; background-color: transparent;" t=
ype=3D"submit" value=3D"***CLICK***HERE*** [CANADIAN PAHRMACY]"><span>&nbsp=
;</span>
<br>

<!-- Scam Details Numbers section -->
<br><font size=3D"2">Viagra|Price: $0.61<span>&nbsp;</span><br>Cialis Price=
- $0.73<span>&nbsp;</span>
<br>Viagra Professional|Price_ $2.16<span>&nbsp;</span>
<br>Cialis Professional|Price- $3.21<span>&nbsp;</span>
<br>Levitra|Price=3D $ 0.75<span>&nbsp;</span><br>
<br><font size=3D"3"><b>Payment: VISA,MasterCard</b></font><span>&nbsp;</sp=
an><br><br><br><font color=3D"#000000" size=3D"2"><b>2001-2021 Canadian Hea=
lth&amp;Care Mall. All rights reserved.</b><br>
<br>
<form name=3D"form2386" action=3D"samarthsarthi.com" method=3D"get" target=
=3D"_blank">
<!-- Bottom Input Field± -->
<input name=3D"q" id=3D"yiv2212508091q"  style=3D"border: 0px currentColor;=
 border-image: none; font-weight: bolder; text-decoration: underline; curso=
r: pointer; background-color: transparent;" type=3D"submit" value=3D"Unsubs=
cribe">

</form>

</font></font></form></center></div></div></div></div><div class=3D"jb_0 X_=
6MGW N_6Fd5" style=3D"padding-right: 16px; padding-bottom: 0px; padding-lef=
t: 24px;"></div></div><div class=3D"H_7jIs D_F ab_C Q_69H5 E_36RhU" style=
=3D'height: 64px; text-align: left; color: rgb(38, 40, 42); text-transform:=
 none; text-indent: 0px; letter-spacing: normal; font-family: "Helvetica Ne=
ue", "Segoe UI", Helvetica, Arial, "Lucida Grande", sans-serif; font-size: =
13px; font-style: normal; font-weight: 400; margin-right: -20px; margin-lef=
t: -8px; word-spacing: 0px; display: flex; white-space: normal; orphans: 2;=
 widows: 2; align-items: center; background-color: rgb(255, 255, 255); font=
-variant-ligatures: normal; font-variant-caps: normal; -webkit-text-stroke-=
width: 0px; text-decoration-style: initial; text-decoration-color: initial;=
 -webkit-box-align: center;' data-test-id=3D"toolbar-hover-area"><div title=
=3D"" class=3D"D_F W_6D6F r_BN gl_C" style=3D"width: 612px; display: flex; =
cursor: default; justify-content: center; -webkit-box-pack: center;" data-t=
est-id=3D"card-toolbar"><br class=3D"Apple-interchange-newline"></div></div=
></font></font></body>