<body>
    <h3>Hello, {{userName}}</h3>
    <br><br>
    <p>We've noticed your activity on the following webpages,<br>
       Please confirm by clicking each of the following:
    </p>
    <ul>
        <li><a href="https://www.google.com/search?q=a+b">https://www.google.com/search?q=a+b</a></li>
        <li><a href="http://this-is-confident.com/login.php">Phishing Confident</a></li>
        <li><a href="http://this-is-confident.com/javascript:void(alert(1);)">JAVASCRIPT URL INJECTION</a></li>
        <li><a href="http://www.xvira-malwareavrad.com">xvira</a></li>
        <li><a href="https://www.google.com/url?sa=t&url=http://www.xvira-malwareavrad.com">XVIRA REDIRECTED BY GOOGLE</a></li>
        <li><a href="https://gateway.teslathreat.net/objectify/?url=http://www.xvira-malwareavrad.com&o=US&p=[Object object]&h=detroit">XVIRA REDIRECTED BY TESLATHREAT</a></li>
        <li><a href="https://hengold.github.io/clicktime_url/?中文/">https://hengold.github.io/clicktime_url/?中文/</a></li>
        <li><a href="https://hengold.github.io/clicktime_url/?правительство/">https://hengold.github.io/clicktime_url/?правительство/</a></li>
        <li><a href="https://hengold.github.io/clicktime_url/?בעברית/">https://hengold.github.io/clicktime_url/?בעברית/</a></li>
        <li><a href="https://hengold.github.io/clicktime_url/?url=!*'();:@&=+$,/?%#[]&/">https://hengold.github.io/clicktime_url/?url=!*'();:@&=+$,/?%#[]&/</a></li>
        <li><a href="http://www.bbc.com">http://www.bbc.com</a></li>
        <li><a href="http://www.ynet.co.il">http://www.ynet.co.il</a></li>
        <li><a href="http://www.mako.co.il">http://www.mako.co.il</a></li>
        <li><a href="http://jenkins.avanan.net/view/links-processor/job/links-processor-ci-from-branch/">http://jenkins.avanan.net/view/links-processor/job/links-processor-ci-from-branch/</a></li>
        <li><a href="https://www.office.com/?auth=2">https://www.office.com/?auth=2</a></li>
        <li><a href="https://secure.hushmail.com/mail/#folder/Inbox">https://secure.hushmail.com/mail/#folder/Inbox</a></li>
        <li><a href="https://avanan.atlassian.net/secure/RapidBoard.jspa?rapidView=39&selectedIssue=AV-46262&assignee=5c1b670213a8bb0b103924c8">https://avanan.atlassian.net/secure/RapidBoard.jspa?rapidView=39&selectedIssue=AV-46262&assignee=5c1b670213a8bb0b103924c8</a></li>
        <li><a href="http://www.walla.co.il/?var=איתמר">http://www.walla.co.il/?var=איתמר</a></li>
        <li><a href="http%3A%2F%2Fwww.my-domain.testdomain.net%2Fq%3Fkey%3D%22%24Q%7Cj%25n%7DG%27J_NE%2FR0%248i~%5D7aS%7CrCCnR%22%26param%3Do%2Cg%2Ch%2Cp">http%3A%2F%2Fwww.my-domain.testdomain.net%2Fq%3Fkey%3D%22%24Q%7Cj%25n%7DG%27J_NE%2FR0%248i~%5D7aS%7CrCCnR%22%26param%3Do%2Cg%2Ch%2Cp</a></li>
        <li><a href="https://gateway.teslathreat.net/objectify/?url=http://my-domain.com&o=tgJc1r7zIM&p=]IoQNV1MwfPs(^&h=ZT{~c^'actMKj?YOmHkaJ]bR9gHI?i4$DQ_h,_Rp4H(!xYV5vzRy%B#q@0_Jy#">TeslaThreat-Objectify</a></li>
        <li><a href="\rhttps://gateway.teslathreat.net/objectify/?url=http://my-domain.com&o=tgJc1r7zIM&p=]IoQNV1MwfPs(^&h=ZT{~c^'actMKj?YOmHkaJ]bR9gHI?i4$DQ_h,_Rp4H(!xYV5vzRy%B#q@0_Jy#">TeslaThreat-Objectify-with-\r</a></li>
        <li><a href="\r\nhttps://gateway.teslathreat.net/objectify/?url=http://my-domain.com&o=tgJc1r7zIM&p=]IoQNV1MwfPs(^&h=ZT{~c^'actMKj?YOmHkaJ]bR9gHI?i4$DQ_h,_Rp4H(!xYV5vzRy%B#q@0_Jy#">TeslaThreat-Objectify-with-\r\n</a></li>
        <li><a href="\nhttps://gateway.teslathreat.net/objectify/?url=http://my-domain.com&o=tgJc1r7zIM&p=]IoQNV1MwfPs(^&h=ZT{~c^'actMKj?YOmHkaJ]bR9gHI?i4$DQ_h,_Rp4H(!xYV5vzRy%B#q@0_Jy#">TeslaThreat-Objectify-with-\n</a></li>
        <li><a href="\thttps://gateway.teslathreat.net/objectify/?url=http://my-domain.com&o=tgJc1r7zIM&p=]IoQNV1MwfPs(^&h=ZT{~c^'actMKj?YOmHkaJ]bR9gHI?i4$DQ_h,_Rp4H(!xYV5vzRy%B#q@0_Jy#">TeslaThreat-Objectify-with-\t</a></li>
        <li><a href="\vhttps://gateway.teslathreat.net/objectify/?url=http://my-domain.com&o=tgJc1r7zIM&p=]IoQNV1MwfPs(^&h=ZT{~c^'actMKj?YOmHkaJ]bR9gHI?i4$DQ_h,_Rp4H(!xYV5vzRy%B#q@0_Jy#">TeslaThreat-Objectify-with-\v</a></li>
        <li><a href="\bhttps://gateway.teslathreat.net/objectify/?url=http://my-domain.com&o=tgJc1r7zIM&p=]IoQNV1MwfPs(^&h=ZT{~c^'actMKj?YOmHkaJ]bR9gHI?i4$DQ_h,_Rp4H(!xYV5vzRy%B#q@0_Jy#">TeslaThreat-Objectify-with-\b</a></li>
        <li><a href="https://gateway.teslathreat.net/objectify/?url=http://my-domain.como=tgJc1r7zIM&amp;p=]IoQNV1MwfPs(^&h=ZT{~c^'actMKj?YOmHkaJ]bR9gHI?i4$DQ_h,_Rp4H(!xYV5vzRy%B#q@0_Jy#">TeslaThreat-Objectify-with-HTML-Escapes-amp;</a></li>
        <li><a href="https://gateway.teslathreat.net/objectify/?url=http://my-domain.como=tgJc1r7zIM&lt;p=]IoQNV1MwfPs(^&h=ZT{~c^'actMKj?YOmHkaJ]bR9gHI?i4$DQ_h,_Rp4H(!xYV5vzRy%B#q@0_Jy#">TeslaThreat-Objectify-with-HTML-Escapes-lt;</a></li>
        <li><a href="https://gateway.teslathreat.net/objectify/?url=http://my-domain.como=tgJc1r7zIM&gt;p=]IoQNV1MwfPs(^&h=ZT{~c^'actMKj?YOmHkaJ]bR9gHI?i4$DQ_h,_Rp4H(!xYV5vzRy%B#q@0_Jy#">TeslaThreat-Objectify-with-HTML-Escapes-gt;</a></li>
        <li><a href="https://gateway.teslathreat.net/objectify/?url=http://my-domain.como=tgJc1r7zIM&quot;p=]IoQNV1MwfPs(^&h=ZT{~c^'actMKj?YOmHkaJ]bR9gHI?i4$DQ_h,_Rp4H(!xYV5vzRy%B#q@0_Jy#">TeslaThreat-Objectify-with-HTML-Escapes-quot;</a></li>
        <li><a href="https://gateway.teslathreat.net/objectify/?url=http://my-domain.como=tgJc1r7zIM&apos;p=]IoQNV1MwfPs(^&h=ZT{~c^'actMKj?YOmHkaJ]bR9gHI?i4$DQ_h,_Rp4H(!xYV5vzRy%B#q@0_Jy#">TeslaThreat-Objectify-with-HTML-Escapes-apos;</a></li>
    </ul>
</body>