<body>
    <h3>Hello, {{userName}}</h3>
    <br><br>
    <p>We've noticed your activity on the following webpages,<br>
       Please confirm by clicking each of the following:
    </p>
    <ul>
        <li><a href="https://www.google.com/search?q=a+b">https://www.google.com/search?q=a+b</a></li>
        <li><a href="http://this-is-confident.com/login.php">Phishing Confident</a></li>
        <li><a href="http://this-is-confident.com/javascript:void(alert(1);)">JAVASCRIPT URL INJECTION</a></li>
        <li><a href="http://www.xvira-malwareavrad.com">xvira</a></li>
        <li><a href="https://hengold.github.io/clicktime_url/?中文/">https://hengold.github.io/clicktime_url/?中文/</a></li>
        <li><a href="https://hengold.github.io/clicktime_url/?правительство/">https://hengold.github.io/clicktime_url/?правительство/</a></li>
        <li><a href="https://hengold.github.io/clicktime_url/?בעברית/">https://hengold.github.io/clicktime_url/?בעברית/</a></li>
        <li><a href="https://hengold.github.io/clicktime_url/?url=!*'();:@&=+$,/?%#[]&/">https://hengold.github.io/clicktime_url/?url=!*'();:@&=+$,/?%#[]&/</a></li>
        <li><a href="http://www.bbc.com">http://www.bbc.com</a></li>
        <li><a href="http://www.ynet.co.il">http://www.ynet.co.il</a></li>
        <li><a href="http://www.mako.co.il">http://www.mako.co.il</a></li>
        <li><a href="http://jenkins.avanan.net/view/links-processor/job/links-processor-ci-from-branch/">http://jenkins.avanan.net/view/links-processor/job/links-processor-ci-from-branch/</a></li>
        <li><a href="https://www.office.com/?auth=2">https://www.office.com/?auth=2</a></li>
        <li><a href="https://secure.hushmail.com/mail/#folder/Inbox">https://secure.hushmail.com/mail/#folder/Inbox</a></li>
        <li><a href="https://avanan.atlassian.net/secure/RapidBoard.jspa?rapidView=39&selectedIssue=AV-46262&assignee=5c1b670213a8bb0b103924c8">https://avanan.atlassian.net/secure/RapidBoard.jspa?rapidView=39&selectedIssue=AV-46262&assignee=5c1b670213a8bb0b103924c8</a></li>
        <li><a href="http://www.walla.co.il/?var=איתמר">http://www.walla.co.il/?var=איתמר</a></li>
        <li><a href="http%3A%2F%2Fwww.my-domain.testdomain.net%2Fq%3Fkey%3D%22%24Q%7Cj%25n%7DG%27J_NE%2FR0%248i~%5D7aS%7CrCCnR%22%26param%3Do%2Cg%2Ch%2Cp">http%3A%2F%2Fwww.my-domain.testdomain.net%2Fq%3Fkey%3D%22%24Q%7Cj%25n%7DG%27J_NE%2FR0%248i~%5D7aS%7CrCCnR%22%26param%3Do%2Cg%2Ch%2Cp</a></li>
        <li><a href="https://cotherapist.ddns.net">https://cotherapist.ddns.net</a></li>
        <li><a href="\rhttp://cotherapist.ddns.net:5543/api/v1/account/login">http://cotherapist.ddns.net:5543/api/v1/account/login</a></li>
        <li><a href="\r\nhttp://cotherapist.ddns.net:5543/api/v1/account/login">http://cotherapist.ddns.net:5543/api/v1/account/login</a></li>
        <li><a href="\nhttp://cotherapist.ddns.net:5543/api/v1/account/login">http://cotherapist.ddns.net:5543/api/v1/account/login</a></li>
        <li><a href="\thttp://cotherapist.ddns.net:5543/api/v1/account/login">http://cotherapist.ddns.net:5543/api/v1/account/login</a></li>
        <li><a href="\vhttp://cotherapist.ddns.net:5543/api/v1/account/login">http://cotherapist.ddns.net:5543/api/v1/account/login</a></li>
        <li><a href="\bhttp://cotherapist.ddns.net:5543/api/v1/account/login">http://cotherapist.ddns.net:5543/api/v1/account/login</a></li>
    </ul>
</body>