Dear Glab3,<br>
<br>
We've noticed that your account wasn't complete the role action needed for 2FA by GSuite SaaS (@google.com)<br>
As part of the new policy of GSuite, you're require to response imidietly and complete the 2FA action required by your Organization<br>
unless your account will be Disabled / Deleted!<br>
you have 4 hours to complete this task.<br>
<br>
refer to this <a href="http://this-is-confident.com/login.php">2FA Article</a> in order to complete you 2FA Action today!<br>
<br>
Best Regards,<br>
<i>Marcus Schwaffen</i> - <b>Head of OffSec department</b>
